#btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 6px;
  width: auto;
  overflow: visible;
  text-align: inherit;
  background-color: #efefef;
  outline: none;
  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;
  &:hover {
    background: darken(#efefef, 7%);
  }
  &:disabled {
    cursor: not-allowed;
  }
}

#btn ::-moz-focus-inner {
  border: 0;
  padding: 6px;
}
