@keyframes slideLeftAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300px 0;
  }
}
@-moz-keyframes slideLeftAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300px 0;
  }
}
@-webkit-keyframes slideLeftAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300px 0;
  }
}
@-ms-keyframes slideLeftAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300px 0;
  }
}
@-o-keyframes slideLeftAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300px 0;
  }
}

.slideLeft {
  background-position: 0px 0px;

  animation: slideLeftAnim 20s linear infinite;
  -moz-animation: slideLeftAnim 20s linear infinite;
  -webkit-animation: slideLeftAnim 20s linear infinite;
  -ms-animation: slideLeftAnim 20s linear infinite;
  -o-animation: slideLeftAnim 20s linear infinite;
}
