@keyframes slideRightAnim {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-moz-keyframes slideRightAnim {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes slideRightAnim {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-ms-keyframes slideRightAnim {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-o-keyframes slideRightAnim {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.slideRight {
  background-position: 0px 0px;

  animation: slideRightAnim 20s linear infinite;
  -moz-animation: slideRightAnim 20s linear infinite;
  -webkit-animation: slideRightAnim 20s linear infinite;
  -ms-animation: slideRightAnim 20s linear infinite;
  -o-animation: slideRightAnim 20s linear infinite;
}
