<div class="wrapper">
  <p>
    Move the cropping bars to enclose the desired area of interest .<br />Then
    you may drag to reposition the cropped image.
  </p>
  <div class="d-flex">
    <!-- <somplo-button
      [label]="'Rotate the image'"
      (btnClick)="rotateImage()"
    ></somplo-button> -->
  </div>
  <div>
    <somplo-button
      [label]="'Crop and save creative'"
      (btnClick)="saveAndCrop()"
    ></somplo-button>
  </div>
  <canvas #c1 id="c1"></canvas>
  <canvas #c2 id="c2"></canvas>
</div>
