<h1>Preview</h1>
<div>
  <div class="link" *ngIf="creative?.url">
    <span>Link:</span> {{ creative.url }}
  </div>
  <div class="img">
    <!-- // TODO refactoring variables -->
    <div #img>
      <div [innerHtml]="styles"></div>
      <a #link href="" target="blank">
        <img
          #creativeEl
          class="{{
            creative?.animation ? animations[creative.animation].class : ''
          }}"
          (load)="onLoadCreative()"
        />
      </a>
    </div>
  </div>
</div>
