<div class="form-wrapper">
  <form class="main-form" [formGroup]="form">
    <div class="d-flex flex-columns img-wrapper">
      <div class="d-flex">
        <label
          for="file-upload"
          class="label-file-upload"
          [ngStyle]="{
            'background-color': formControls.img.valid ? '#6bcc5c' : 'white'
          }"
        >
          Upload image
        </label>
        <input
          #loadedImg
          (change)="fileChangeEvent(loadedImg.files[0])"
          id="file-upload"
          type="file"
          accept="image/png, image/jpeg"
        />
        <div class="customize-wrapper">
          <somplo-button
            *ngIf="formControls.img.value"
            [label]="!showCustomize ? 'Customize image' : 'Show Preview'"
            (btnClick)="onshowCrop($event)"
          ></somplo-button>
        </div>
      </div>
      <span
        class="text-danger"
        *ngIf="imgControlTouched && formControls.img.errors?.required"
      >
        img is required
      </span>
    </div>

    <div class="animation-wrapper">
      <div *ngIf="animations" class="d-flex flex-columns animation-select">
        <select
          class="somplo-select"
          formControlName="animation"
          (change)="onAnimationPick($event)"
          [ngStyle]="{
            'background-color': formControls.animation.valid
              ? '#6bcc5c'
              : 'white'
          }"
        >
          <option selected [hidden]="true">Select animation</option>
          <option *ngFor="let animation of animations">
            {{ animation.name }}
          </option>
        </select>
        <span
          class="text-danger"
          *ngIf="
            formControls.animation.touched &&
            formControls.animation.errors?.required
          "
        >
          Please select animation
        </span>
      </div>
    </div>
    <div class="d-flex flex-columns url-wrapper">
      <input
        class="somplo-input"
        type="url"
        formControlName="url"
        placeholder="Enter a link for your creative"
        (change)="onUrlChange($event)"
        [ngStyle]="{
          'background-color': formControls.url.valid ? '#6bcc5c' : 'white'
        }"
      />
      <span
        class="text-danger"
        *ngIf="formControls.url.touched && formControls.url.errors?.required"
      >
        Please, enter a link
      </span>
      <span
        class="text-danger"
        *ngIf="formControls.url.touched && formControls.url.errors?.validUrl"
      >
        Your link should start from http or https
      </span>
    </div>
    <somplo-utm-tags
      *ngIf="isTagsAddShown"
      (closeTag)="onTagsShow()"
    ></somplo-utm-tags>
    <span class="tags" *ngIf="!isTagsAddShown" (click)="onTagsShow()"
      >Would you like to add utm tags to link</span
    >
    <span class="text-danger" *ngIf="showTagsError">First enter the link</span>
    <div class="submit-wrapper">
      <somplo-button
        [label]="'Download creative'"
        [disabled]="formStatus"
        (btnClick)="onSubmit()"
        [showAllow]="!formStatus"
      ></somplo-button>
    </div>
  </form>
  <div *ngIf="loadedImgUrl">
    <a download="" href="#" #link></a>
  </div>
</div>
